{% extends "base.html" %}
{% load static %}
{% block content %}     
        <!-- Start -->
        <section class="bg-home d-flex align-items-center" style="background: url('{% static 'images/hero/bg2.jpg' %}') top;">
            <div class="bg-overlay bg-gradient-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="d-flex flex-column min-vh-100 justify-content-center p-md-5">
                            <div class="text-center">
                                <a href="{% url 'index' %}"><img src="{% static 'images/logo-icon-80-white.png' %}" alt=""></a>
                            </div>
                            <div class="title-heading text-center my-auto">
                                <h2 class="title-dark text-white text-uppercase mt-2 mb-4 fw-semibold">We are coming soon...</h2>
                                <p class="text-white para-desc para-dark mx-auto">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>
                            
                                <div id="countdown">
                                    <ul class="count-down list-unstyled">
                                        <li id="days" class="count-number list-inline-item m-2"></li>
                                        <li id="hours" class="count-number list-inline-item m-2"></li>
                                        <li id="mins" class="count-number list-inline-item m-2"></li>
                                        <li id="secs" class="count-number list-inline-item m-2"></li>
                                        <li id="end" class="h1"></li>
                                    </ul>
                                </div>
                            </div>

                           {% endblock %} 