{% extends "base.html" %}
{% load static %}
{% block content %}

        <!-- Hero Start -->
        <section class="bg-half-170 d-table w-100 bg-primary" style='background: url("{% static "images/bg2.png" %}") center; background-size: cover;'>
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-md-6">
                        <div class="title-heading">
                            <h1 class="heading text-white fw-bold">Get hired <br> by the popular <br> candidates.</h1>
                            <p class="para-desc text-white-50 mb-0">Find Jobs, Employment & Career Opportunities. Some of the companies we've helped recruit excellent applicants over the years.</p>

                            <div class="text-center subscribe-form mt-4">
                                <form style="max-width: 800px;">
                                    <div class="mb-0">
                                        <div class="position-relative">
                                            <i data-feather="search" class="fea icon-20 position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                                            <input type="text" id="help" name="name" class="shadow rounded-pill bg-white ps-5" required="" placeholder="Search jobs & candidates ...">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-pills">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-md-6">
                        <div class="position-relative ms-lg-5">
                            <img src="{% static 'images/hero1.png' %}" class="img-fluid p-5" alt="">

                            <div class="spinner">
                                <div class="position-absolute top-0 start-0 mt-lg-5 mt-4 ms-lg-5 ms-4">
                                    <img src="{% static 'images/company/circle-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute top-0 start-50 translate-middle-x">
                                    <img src="{% static 'images/company/facebook-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute top-0 end-0 mt-lg-5 mt-4 me-lg-5 me-4">
                                    <img src="{% static 'images/company/google-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute top-50 start-0 translate-middle-y">
                                    <img src="{% static 'images/company/lenovo-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute top-50 end-0 translate-middle-y">
                                    <img src="{% static 'images/company/android.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute bottom-0 start-0 mb-lg-5 mb-4 ms-lg-5 ms-4">
                                    <img src="{% static 'images/company/linkedin.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                                    <img src="{% static 'images/company/skype.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                                <div class="position-absolute bottom-0 end-0 mb-lg-5 mb-4 me-lg-5 me-4">
                                    <img src="{% static 'images/company/snapchat.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Hero End -->

        <!-- Start -->
        <section class="section">
            <div class="container">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6 col-md-6 mb-5">
                        <div class="about-left">
                            <div class="position-relative shadow rounded img-one">
                                <img src="{% static 'images/about/ab01.jpg' %}" class="img-fluid rounded" alt="work-image">
                            </div>

                            <div class="img-two shadow rounded p-2 bg-white">
                                <img src="{% static 'images/about/ab02.jpg' %}" class="img-fluid rounded" alt="work-image">

                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                                        <i class="mdi mdi-play mdi-24px text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6">
                        <div class="section-title ms-lg-5">
                            <h4 class="title mb-3">Millions of jobs. <br> Find the one that's right for you.</h4>
                            <p class="text-muted para-desc mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        
                            <ul class="list-unstyled text-muted mb-0 mt-3">
                                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Digital Marketing Solutions for Tomorrow</li>
                                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Our Talented & Experienced Marketing Agency</li>
                                <li class="mb-1"><span class="text-primary h5 me-2"><i class="mdi mdi-check-circle-outline align-middle"></i></span>Create your own skin to match your brand</li>
                            </ul>

                            <div class="mt-4">
                                <a href="{% url 'aboutus' %}" class="btn btn-primary">About Us <i class="mdi mdi-arrow-right align-middle"></i></a>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center mb-4 pb-2">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h4 class="title mb-3">Popular Categories</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-12 mt-4">
                        <div class="tiny-five-item">
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="airplay" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">Business <br> Development</a>
                                        <p class="text-muted mb-0 mt-3">74 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="award" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">Marketing & <br> Communication</a>
                                        <p class="text-muted mb-0 mt-3">20 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="at-sign" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">Project <br> Management</a>
                                        <p class="text-muted mb-0 mt-3">35 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="codesandbox" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">Customer <br> Service</a>
                                        <p class="text-muted mb-0 mt-3">46 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="chrome" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">Software <br> Engineering</a>
                                        <p class="text-muted mb-0 mt-3">60 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="copy" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">Human Resource <br> HR</a>
                                        <p class="text-muted mb-0 mt-3">74 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
        
                            <div class="tiny-slide">
                                <div class="position-relative job-category text-center px-4 py-5 rounded shadow m-2">
                                    <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                        <i data-feather="cpu" class="fea icon-ex-md"></i>
                                    </div>
            
                                    <div class="mt-4">
                                        <a href="" class="title h5 text-dark">It & <br> Networking</a>
                                        <p class="text-muted mb-0 mt-3">20 Jobs</p>
                                    </div>
                                </div>
                            </div><!--end col-->
                        </div>
                    </div>
                </div>
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row align-items-end mb-4 pb-2">
                    <div class="col-lg-6 col-md-9">
                        <div class="section-title text-md-start text-center">
                            <h4 class="title mb-3">Explore Jobs</h4>
                            <p class="text-muted para-desc mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-3 d-none d-md-block">
                        <div class="text-md-end">
                            <a href="{% url 'services-grid-one' %}" class="btn btn-link primary text-muted">See More Jobs <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row g-4 mt-0">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-post rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/company/facebook-logo.png' %}" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">
    
                                    <div class="ms-3">
                                        <a href="{% url 'services_prvdr-profile' %}" class="h5 company text-dark">Facebook</a>
                                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> 2 days ago</span>
                                    </div>
                                </div>

                                <span class="badge bg-soft-primary">Full Time</span>
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'services-detail-one' %}" class="text-dark title h5">Web Designer / Developer</a>

                                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>Australia</span>

                                <div class="progress-box mt-3">
                                    <div class="progress mb-2">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                                    </div>

                                    <span class="text-dark">20 applied of <span class="text-muted">40 vacancy</span></span>
                                </div>
                            </div>
                        </div><!--end job post-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-post rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/company/google-logo.png' %}" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">
    
                                    <div class="ms-3">
                                        <a href="{% url 'services_prvdr-profile' %}" class="h5 company text-dark">Google</a>
                                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> 2 days ago</span>
                                    </div>
                                </div>

                                <span class="badge bg-soft-primary">Part Time</span>
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'services-detail-one' %}" class="text-dark title h5">Marketing Director</a>

                                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>Australia</span>

                                <div class="progress-box mt-3">
                                    <div class="progress mb-2">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                                    </div>

                                    <span class="text-dark">20 applied of <span class="text-muted">40 vacancy</span></span>
                                </div>
                            </div>
                        </div><!--end job post-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-post rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/company/android.png' %}" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">
    
                                    <div class="ms-3">
                                        <a href="{% url 'services_prvdr-profile' %}" class="h5 company text-dark">Android</a>
                                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> 2 days ago</span>
                                    </div>
                                </div>

                                <span class="badge bg-soft-primary">Remote</span>
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'services-detail-one' %}" class="text-dark title h5">Application Developer</a>

                                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>Australia</span>

                                <div class="progress-box mt-3">
                                    <div class="progress mb-2">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                                    </div>

                                    <span class="text-dark">20 applied of <span class="text-muted">40 vacancy</span></span>
                                </div>
                            </div>
                        </div><!--end job post-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-post rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/company/lenovo-logo.png' %}" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">
    
                                    <div class="ms-3">
                                        <a href="{% url 'services_prvdr-profile' %}" class="h5 company text-dark">Lenovo</a>
                                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> 2 days ago</span>
                                    </div>
                                </div>

                                <span class="badge bg-soft-primary">WFH</span>
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'services-detail-one' %}" class="text-dark title h5">Senior Product Designer</a>

                                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>Australia</span>

                                <div class="progress-box mt-3">
                                    <div class="progress mb-2">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                                    </div>

                                    <span class="text-dark">20 applied of <span class="text-muted">40 vacancy</span></span>
                                </div>
                            </div>
                        </div><!--end job post-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-post rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/company/spotify.png' %}" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">
    
                                    <div class="ms-3">
                                        <a href="{% url 'services_prvdr-profile' %}" class="h5 company text-dark">Spotify</a>
                                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> 2 days ago</span>
                                    </div>
                                </div>

                                <span class="badge bg-soft-primary">Full Time</span>
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'services-detail-one' %}" class="text-dark title h5">C++ Developer</a>

                                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>Australia</span>

                                <div class="progress-box mt-3">
                                    <div class="progress mb-2">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                                    </div>

                                    <span class="text-dark">20 applied of <span class="text-muted">40 vacancy</span></span>
                                </div>
                            </div>
                        </div><!--end job post-->
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="job-post rounded shadow p-4">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'images/company/linkedin.png' %}" class="avatar avatar-small rounded shadow p-3 bg-white" alt="">
    
                                    <div class="ms-3">
                                        <a href="{% url 'services_prvdr-profile' %}" class="h5 company text-dark">Linkedin</a>
                                        <span class="text-muted d-flex align-items-center small mt-2"><i data-feather="clock" class="fea icon-sm me-1"></i> 2 days ago</span>
                                    </div>
                                </div>

                                <span class="badge bg-soft-primary">Remote</span>
                            </div>

                            <div class="mt-4">
                                <a href="{% url 'services-detail-one' %}" class="text-dark title h5">Php Developer</a>

                                <span class="text-muted d-flex align-items-center mt-2"><i data-feather="map-pin" class="fea icon-sm me-1"></i>Australia</span>

                                <div class="progress-box mt-3">
                                    <div class="progress mb-2">
                                        <div class="progress-bar position-relative bg-primary" style="width:50%;"></div>
                                    </div>

                                    <span class="text-dark">20 applied of <span class="text-muted">40 vacancy</span></span>
                                </div>
                            </div>
                        </div><!--end job post-->
                    </div><!--end col-->

                    <div class="col-12 d-md-none d-block">
                        <div class="text-center">
                            <a href="{% url 'services-grid-one' %}" class="btn btn-link primary text-muted">See More Jobs <i class="mdi mdi-arrow-right"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center mb-4 pb-2">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h4 class="title mb-3">Here's why you'll love it Jobnova</h4>
                            <p class="text-muted para-desc mx-auto mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
                        <div class="position-relative features text-center p-4 rounded shadow bg-white">
                            <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                <i data-feather="phone" class="fea icon-ex-md"></i>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="title h5 text-dark">24/7 Support</a>
                                <p class="text-muted mt-3 mb-0">Many desktop publishing now use and a search for job.</p>
                                <div class="mt-3">
                                    <a href="" class="btn btn-link primary text-dark">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
                        <div class="position-relative features text-center p-4 rounded shadow bg-white">
                            <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                <i data-feather="cpu" class="fea icon-ex-md"></i>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="title h5 text-dark">Tech & Startup Jobs</a>
                                <p class="text-muted mt-3 mb-0">Many desktop publishing now use and a search for job.</p>
                                <div class="mt-3">
                                    <a href="" class="btn btn-link primary text-dark">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
                        <div class="position-relative features text-center p-4 rounded shadow bg-white">
                            <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                <i data-feather="activity" class="fea icon-ex-md"></i>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="title h5 text-dark">Quick & Easy</a>
                                <p class="text-muted mt-3 mb-0">Many desktop publishing now use and a search for job.</p>
                                <div class="mt-3">
                                    <a href="" class="btn btn-link primary text-dark">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4 pt-2">
                        <div class="position-relative features text-center p-4 rounded shadow bg-white">
                            <div class="feature-icon bg-soft-primary rounded shadow mx-auto position-relative overflow-hidden d-flex justify-content-center align-items-center">
                                <i data-feather="clock" class="fea icon-ex-md"></i>
                            </div>
    
                            <div class="mt-4">
                                <a href="" class="title h5 text-dark">Save Time</a>
                                <p class="text-muted mt-3 mb-0">Many desktop publishing now use and a search for job.</p>
                                <div class="mt-3">
                                    <a href="" class="btn btn-link primary text-dark">Read More <i class="mdi mdi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row g-4 align-items-center">
                    <div class="col-lg-6 col-md-6 mb-5  order-md-2 order-1">
                        <div class="about-right">
                            <div class="position-relative shadow rounded img-one">
                                <img src="{% static 'images/about/ab03.jpg' %}" class="img-fluid rounded" alt="work-image">
                            </div>

                            <div class="img-two shadow rounded p-2 bg-white">
                                <img src="{% static 'images/about/ab04.jpg' %}" class="img-fluid rounded" alt="work-image">

                                <div class="position-absolute top-0 start-50 translate-middle">
                                    <a href="#!" data-type="youtube" data-id="yba7hPeTSjk" class="avatar avatar-md-md rounded-pill shadow card d-flex justify-content-center align-items-center lightbox">
                                        <i class="mdi mdi-play mdi-24px text-primary"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-6 col-md-6 mt-4 pt-2 mt-sm-0 pt-sm-0 order-md-1 order-2">
                        <div class="section-title mb-4 me-lg-5">
                            <h4 class="title mb-3">Find Best Companies.</h4>
                            <p class="text-muted para-desc mb-0">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        </div>

                        <div class="row g-4 mt-0">
                            <div class="col-md-6">
                                <div class="employer-card rounded shadow p-2 bg-light">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/company/google-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
        
                                        <div class="content ms-3">
                                            <a href="{% url 'services_prvdr-profile' %}" class="h5 title text-dark">Google</a>
                                            <span class="text-muted d-flex align-items-center small mt-1">10 vacancy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="employer-card rounded shadow p-2 bg-light">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/company/facebook-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
        
                                        <div class="content ms-3">
                                            <a href="{% url 'services_prvdr-profile' %}" class="h5 title text-dark">Facebook</a>
                                            <span class="text-muted d-flex align-items-center small mt-1">10 vacancy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="employer-card rounded shadow p-2 bg-light">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/company/android.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
        
                                        <div class="content ms-3">
                                            <a href="{% url 'services_prvdr-profile' %}" class="h5 title text-dark">Android</a>
                                            <span class="text-muted d-flex align-items-center small mt-1">10 vacancy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="employer-card rounded shadow p-2 bg-light">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/company/circle-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
        
                                        <div class="content ms-3">
                                            <a href="{% url 'services_prvdr-profile' %}" class="h5 title text-dark">Circle CI</a>
                                            <span class="text-muted d-flex align-items-center small mt-1">10 vacancy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="employer-card rounded shadow p-2 bg-light">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/company/lenovo-logo.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
        
                                        <div class="content ms-3">
                                            <a href="{% url 'services_prvdr-profile' %}" class="h5 title text-dark">Lenovo</a>
                                            <span class="text-muted d-flex align-items-center small mt-1">10 vacancy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="employer-card rounded shadow p-2 bg-light">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'images/company/linkedin.png' %}" class="avatar avatar-md-sm rounded shadow p-2 bg-white" alt="">
        
                                        <div class="content ms-3">
                                            <a href="{% url 'services_prvdr-profile' %}" class="h5 title text-dark">Linkedin</a>
                                            <span class="text-muted d-flex align-items-center small mt-1">10 vacancy</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <a href="{% url 'services_prvdr' %}" class="btn btn-link primary text-muted">See More Companies <i class="mdi mdi-arrow-right align-middle"></i></a>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title mb-3">Latest Blog or News</h4>
                            <p class="text-muted para-desc mb-0 mx-auto">Search all the open positions on the web. Get your own personalized salary estimate. Read reviews on over 30000+ companies worldwide.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row g-4 mt-0">
                    <div class="col-lg-4 col-md-6">
                        <div class="card blog blog-primary shadow rounded overflow-hidden border-0">
                            <div class="card-img blog-image position-relative overflow-hidden rounded-0">
                                <div class="position-relative overflow-hidden">
                                    <img src="{% static 'images/blog/01.jpg' %}" class="img-fluid" alt="">
                                    <div class="card-overlay"></div>
                                </div>
                            </div>

                            <div class="card-body blog-content position-relative p-0">
                                <div class="blog-tag px-4">
                                    <a href="" class="badge bg-primary rounded-pill">Arts</a>
                                </div>
                                <div class="p-4">
                                    <ul class="list-unstyled text-muted small mb-2">
                                        <li class="d-inline-flex align-items-center me-2"><i data-feather="calendar" class="fea icon-ex-sm me-1 text-dark"></i>31st October 2023</li>
                                        <li class="d-inline-flex align-items-center"><i data-feather="clock" class="fea icon-ex-sm me-1 text-dark"></i>5 min read</li>
                                    </ul>

                                    <a href="{% url 'blog-detail' %}" class="title fw-semibold fs-5 text-dark">11 Tips to Help You Get New Clients Through Cold Calling</a>
                                    
                                    <ul class="list-unstyled d-flex justify-content-between align-items-center text-muted mb-0 mt-3">
                                        <li class="list-inline-item me-2"><a href="" class="btn btn-link primary text-dark">Read Now <i class="mdi mdi-arrow-right"></i></a></li>
                                        <li class="list-inline-item"><span class="text-dark">By</span> <a href="" class="text-muted link-title">Google</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->

                    <div class="col-lg-4 col-md-6">
                        <div class="card blog blog-primary shadow rounded overflow-hidden border-0">
                            <div class="card-img blog-image position-relative overflow-hidden rounded-0">
                                <div class="position-relative overflow-hidden">
                                    <img src="{% static 'images/blog/02.jpg' %}" class="img-fluid" alt="">
                                    <div class="card-overlay"></div>
                                </div>
                            </div>

                            <div class="card-body blog-content position-relative p-0">
                                <div class="blog-tag px-4">
                                    <a href="" class="badge bg-primary rounded-pill">Illustration</a>
                                </div>
                                <div class="p-4">
                                    <ul class="list-unstyled text-muted small mb-2">
                                        <li class="d-inline-flex align-items-center me-2"><i data-feather="calendar" class="fea icon-ex-sm me-1 text-dark"></i>31st October 2023</li>
                                        <li class="d-inline-flex align-items-center"><i data-feather="clock" class="fea icon-ex-sm me-1 text-dark"></i>5 min read</li>
                                    </ul>

                                    <a href="{% url 'blog-detail' %}" class="title fw-semibold fs-5 text-dark">DigitalOcean launches first Canadian data centre in Toronto</a>
                                    
                                    <ul class="list-unstyled d-flex justify-content-between align-items-center text-muted mb-0 mt-3">
                                        <li class="list-inline-item me-2"><a href="" class="btn btn-link primary text-dark">Read Now <i class="mdi mdi-arrow-right"></i></a></li>
                                        <li class="list-inline-item"><span class="text-dark">By</span> <a href="" class="text-muted link-title">Facebook</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="card blog blog-primary shadow rounded overflow-hidden border-0">
                            <div class="card-img blog-image position-relative overflow-hidden rounded-0">
                                <div class="position-relative overflow-hidden">
                                    <img src="{% static 'images/blog/03.jpg' %}" class="img-fluid" alt="">
                                    <div class="card-overlay"></div>
                                </div>
                            </div>

                            <div class="card-body blog-content position-relative p-0">
                                <div class="blog-tag px-4">
                                    <a href="" class="badge bg-primary rounded-pill">Music</a>
                                </div>
                                <div class="p-4">
                                    <ul class="list-unstyled text-muted small mb-2">
                                        <li class="d-inline-flex align-items-center me-2"><i data-feather="calendar" class="fea icon-ex-sm me-1 text-dark"></i>31st October 2023</li>
                                        <li class="d-inline-flex align-items-center"><i data-feather="clock" class="fea icon-ex-sm me-1 text-dark"></i>5 min read</li>
                                    </ul>

                                    <a href="{% url 'blog-detail' %}" class="title fw-semibold fs-5 text-dark">Using Banner Stands To Increase Trade Show Traffic</a>
                                    
                                    <ul class="list-unstyled d-flex justify-content-between align-items-center text-muted mb-0 mt-3">
                                        <li class="list-inline-item me-2"><a href="" class="btn btn-link primary text-dark">Read Now <i class="mdi mdi-arrow-right"></i></a></li>
                                        <li class="list-inline-item"><span class="text-dark">By</span> <a href="" class="text-muted link-title">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- End -->

    {% endblock %}